<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $("#appendimg").html("")
            var curWwwPath = window.document.location.href;
            //获取主机地址之后的目录，如： uimcardprj/share/meun.jsp
            var pathName = window.document.location.pathname;
            var pos = curWwwPath.indexOf(pathName);
            //获取主机地址，如： http://localhost:8083
            var localhostPaht = curWwwPath.substring(0, pos);
            var imgurl =localhostPaht+ "/user_admin/createImage?"+(new Date()).getTime();
            var img = $('<img>').attr('src',imgurl);
            $("#appendimg").append(img);
            img.on('click', function () {
                $(this).attr('src', imgurl);
            })

        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#login").click(function () {
                if ($("#username").val() == "") {
                    alert("用户名不能为空")
                } else if ($("#password").val() == "") {
                    alert("密码不能为空")
                } else if ($("#checkcode").val()=="") {
                    alert("验证码不能为空")
                }
            })
        })
    </script>
</head>

<body>
</br></br></br></br></br></br></br></br>
<h1 align="center">管理员登录</h1>
<div align="center" style="margin-top: 50px">
    <form align="center"  action="/user_admin/login" method="get">
            <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
            用户姓名：<input  style="height: 25px;width: 250px" type="text" name="username" id="username"></br></br>
            登录密码：<input  style="height: 25px;width: 250px" type="password" name="password" id="password"></br></br>
            验 证 码：
        <input  style="height: 25px;width: 200px" id="checkcode" name="checkcode" type="text" class="width50"/>
        <span id="checkcode_msg" class="required"></span>


        &nbsp<input type="submit" value="登录" id="login">

    </form>
    </br>
    <span id="appendimg" class="appendimg"></span>
</div>
</body>
</html>