<!DOCTYPE html>
<html>
  <head>
    <title>商品详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/商品详情/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/商品详情/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u179" class="ax_default shape">
        <div id="u179_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u180" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u181" class="ax_default shape">
        <img id="u181_img" class="img " src="images/添加商品/u16.png"/>
        <!-- Unnamed () -->
        <div id="u182" class="text">
          <p><span>Logo</span></p>
        </div>
      </div>

      <!-- Unnamed (Menu) -->
      <div id="u183" class="ax_default">
        <img id="u183_menu" class="img " src="images/添加商品/u18_menu.png" alt="u183_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u184" class="ax_default table">

          <!-- Unnamed (Menu Item) -->
          <div id="u185" class="ax_default table_cell">
            <img id="u185_img" class="img " src="images/商品管理/u62.png"/>
            <!-- Unnamed () -->
            <div id="u186" class="text">
              <p><span>添加商品</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u187" class="ax_default table_cell">
            <img id="u187_img" class="img " src="images/商品管理/u64.png"/>
            <!-- Unnamed () -->
            <div id="u188" class="text">
              <p><span>商品管理</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u189" class="ax_default table_cell">
            <img id="u189_img" class="img " src="images/添加商品/u24.png"/>
            <!-- Unnamed () -->
            <div id="u190" class="text" style="display:none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u191" class="ax_default paragraph">
        <div id="u191_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u192" class="text">
          <p><span>商品编码</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u193" class="ax_default paragraph">
        <div id="u193_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u194" class="text">
          <p><span>秒杀价格</span></p>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u195" class="ax_default html_button">
        <input id="u195_input" type="submit" value="关闭"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u196" class="ax_default paragraph">
        <div id="u196_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u197" class="text">
          <p><span>开始时间</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u198" class="ax_default paragraph">
        <div id="u198_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u199" class="text">
          <p><span>结束时间</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u200" class="ax_default paragraph">
        <div id="u200_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u201" class="text">
          <p><span>商品名称</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u202" class="ax_default paragraph">
        <div id="u202_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u203" class="text">
          <p><span>市场价格</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u204" class="ax_default paragraph">
        <div id="u204_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u205" class="text">
          <p><span>a001</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u206" class="ax_default paragraph">
        <div id="u206_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u207" class="text">
          <p><span>小米手机5 puls</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u208" class="ax_default paragraph">
        <div id="u208_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u209" class="text">
          <p><span>2299</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u210" class="ax_default paragraph">
        <div id="u210_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u211" class="text">
          <p><span>1999</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u212" class="ax_default paragraph">
        <div id="u212_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u213" class="text">
          <p><span>2017-07-01</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u214" class="ax_default paragraph">
        <div id="u214_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u215" class="text">
          <p><span>2017-09-01</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u216" class="ax_default paragraph">
        <div id="u216_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u217" class="text">
          <p><span>总库存</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u218" class="ax_default paragraph">
        <div id="u218_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u219" class="text">
          <p><span>5000</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u220" class="ax_default paragraph">
        <div id="u220_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u221" class="text">
          <p><span>剩余库存</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u222" class="ax_default paragraph">
        <div id="u222_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u223" class="text">
          <p><span>50</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u224" class="ax_default paragraph">
        <div id="u224_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u225" class="text">
          <p><span>获得者：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u226" class="ax_default paragraph">
        <div id="u226_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u227" class="text">
          <p><span>15810075666</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u228" class="ax_default paragraph">
        <div id="u228_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u229" class="text">
          <p><span>1536654555</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u230" class="ax_default paragraph">
        <div id="u230_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u231" class="text">
          <p><span>1536654365</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u232" class="ax_default paragraph">
        <div id="u232_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u233" class="text">
          <p><span>153665412522</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u234" class="ax_default paragraph">
        <div id="u234_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u235" class="text">
          <p><span>153665450215</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u236" class="ax_default paragraph">
        <div id="u236_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u237" class="text">
          <p><span>..............</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u238" class="ax_default paragraph">
        <div id="u238_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u239" class="text">
          <p><span>商品描述信息。。。</span></p><p><span>....</span></p><p><span>...</span></p><p><span>....</span></p><p><span>.....</span></p><p><span>.......</span></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u240" class="ax_default image">
        <img id="u240_img" class="img " src="images/商品详情/u240.jpg"/>
        <!-- Unnamed () -->
        <div id="u241" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
